<main role="main">

    {{ partial "redeem/index" .redeem }} {{ partial "landing/main_img_card" }} {{ partial "landing/main_hero" .hero }} {{ partial "landing/main_intro" .intro }} {{ partial "landing/main_how_it_works" .how_it_works }} {{ partial "landing/main_user" .user }}

    <!--    {{ partial "landing/main_tools" .tools }}-->

    <!--    {{ partial "landing/main_vocabulary" .vocabulary }}-->

    <!--    {{ partial "landing/main_share" .share }}-->

    <!--    {{ partial "landing/main_library" .library }}-->

    <!--    {{ partial "landing/main_charts" .charts }}-->

    <!--    {{ partial "landing/main_reviews" .reviews }}-->
    {{ partial "landing/main_subscribers" .subscribers }} {{ partial "landing/main_modal_form" .modal }} {{ partial "landing/main_free_membership" .modal }} {{ partial "landing/main_footer_hero" .footer_hero }}

</main>