<section class="user">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-md-12  justify-content-center" style="display: inline-flex">
                <font class="desktop" style="font-size: 86px">“</font>
                <h1 style="margin: auto 25px">{{.title}}</h1>
                <font class="desktop" style="font-size: 86px">”</font>
            </div>
            <img alt="item" class="desktop prev-btn mr-4" data-src="/public/images/reader/icon/L_eva_arrow-ios-back-fill.svg">
            <div class="owl-carousel owl-theme" id="owl-user">
                <div class="item ">
                    <img alt="item" class="owl-lazy"   data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/user/01_%E5%90%B4%E5%BA%94%E8%BE%89%E6%95%99%E6%8E%88.svg">
                </div>
                <div class="item">
                    <img alt="item" class="owl-lazy" data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/user/07_Julio+C+Rodriguez.svg">
                </div>
                <div class="item">
                    <img alt="item" data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/user/02_%E9%9F%A6%E5%BE%AE%E8%80%81%E5%B8%88.svg">
                </div>
                <div class="item">
                    <img alt="item"  data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/user/03_%E6%A5%8A%E7%90%87%E5%AA%84%E8%80%81%E5%B8%88.svg">
                </div>

                <div class="item">
                    <img alt="item"  data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/user/04_Xin+Chen.svg">
                </div>
                <div class="item">
                    <img alt="item"  data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/user/05_Ava.svg">
                </div>
                <div class="item">
                    <img alt="item" class="owl-lazy" data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/user/06_Jacob+Henderson.svg">
                </div>

            </div>
            <img alt="item" class="desktop next-btn" data-src="/public/images/reader/icon/R_eva_arrow-ios-back-fill.svg">
        </div>
    </div>
</section>
