<section class="subscribers">
    <div class="container-fluid pr-0 pl-0 desktop">
        <h1 >{{.title}}</h1>
        <br/>
        <img alt="Subscribers_web" data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/0702_Our+Subscribers_web.png">
        <p>{{.text}}</p>
    </div>
    <div class="mobile">
        <h1 >{{.title}}</h1>
        <img alt="Subscribers_phone" data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/mobile/0702_Our+Subscribers_phone.png">
        <p >{{.text}}</p>
    </div>
</section>
