<section class="promote">
    <div class="row justify-content-center">
        <div class="col-10 col-md-12 text-center">
            <img data-src="{{.icon}}" alt="image">
        </div>
        <div class="col-md-8 col-11 text-center">
            <h1>{{.title}}</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <a href="https://auth.ponddy.com/auth/?client_id=2ecd2ce4-86a0-4e75-8548-e574d23f5731&redirect_uri=https://reader.ponddy.com/app/&next=%23reader-dashboard"
                class="btn_focus-secondary  btn">
                {{.signup_button}}</a>
            <p class="no_credit">*{{.no_credit}}*</p>
        </div>
    </div>
</section>
