<section class="intro">
    <!--    <div class="background"></div>-->
    <!--    <div class="after-gradient"></div>-->
    <div class="container desktop">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text-right">
                <img data-src="{{.item1.image}}" alt="item1">
            </div>
            <div class="col-lg-5 col-12 text">
                <h1>{{.item1.title}}</h1>
                <div class="description">{{.item1.description}}</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text">
                <h1 class="text-left ml-auto">{{.item2.title}}</h1>
                <div class="description text-left ml-auto">{{.item2.description}}</div>
            </div>
            <div class="col-lg-5 col-12 text-left">
                <img data-src="{{.item2.image}}" alt="item2">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text-right ">
                <img data-src="{{.item3.image}}" alt="item3">
            </div>
            <div class="col-lg-5 col-12 text">
                <h1>{{.item3.title}}</h1>
                <div class="description">{{.item3.description}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text">
                <h1 class="text-left ml-auto">{{.item4.title}}</h1>
                <div class="description text-left ml-auto">{{.item4.description}}</div>
            </div>
            <div class="col-lg-5 col-12 text-center">
                <img data-src="{{.item4.image}}" alt="item4">
            </div>
        </div>
    </div>
    <div class="container mobile">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text-center">
                <img data-src="{{.item1.image}}" alt="item1">
            </div>
            <div class="col-lg-5 col-12 text">
                <h1>{{.item1.title}}</h1>
                <div class="description">{{.item1.description}}</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text-center">
                <img data-src="{{.item2.image}}" alt="item2">
            </div>
            <div class="col-lg-5 col-12 text">
                <h1 class="text-left ml-auto">{{.item2.title}}</h1>
                <div class="description text-left ml-auto">{{.item2.description}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text-center">
                <img data-src="{{.item3.image}}" alt="item3">
            </div>
            <div class="col-lg-5 col-12 text">
                <h1>{{.item3.title}}</h1>
                <div class="description">{{.item3.description}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-12 text-center">
                <img data-src="{{.item4.image}}" alt="item4">
            </div>
            <div class="col-lg-5 col-12 text">
                <h1 class="text-left ml-auto">{{.item4.title}}</h1>
                <div class="description text-left ml-auto">{{.item4.description}}</div>
            </div>

        </div>
    </div>
</section>
