<section class="intro">
    <div class="container desktop">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-12 text-right">
                <img data-src="{{.item1.image}}" alt="item1">
            </div>
            <div class="col-lg-5 col-md-12 col-12 text">
                <h1>
                    <span>{{.item1.title1}}</span>
                    <span>{{.item1.title2}}</span>
                </h1>
                <div class="description">{{.item1.description}}</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-12 text">
                <h1 class="text-left">
                    <span>{{.item2.title1}}</span>
                    <span>{{.item2.title2}}</span>
                </h1>
                <div class="description text-left">{{.item2.description}}</div>
            </div>
            <div class="col-lg-5 col-md-12 col-12 text-left">
                <img data-src="{{.item2.image}}" alt="item2">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-12 text-right ">
                <img data-src="{{.item3.image}}" alt="item3">
            </div>
            <div class="col-lg-5 col-md-12 col-12 text">
                <h1>
                    <span>{{.item3.title1}}</span>
                    <span>{{.item3.title2}}</span>
                </h1>
                <div class="description">{{.item3.description}}</div>
            </div>
        </div>
    </div>
    <div class="container mobile">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-12 text-center">
                <img data-src="{{.item1.image}}" alt="item1">
            </div>
            <div class="col-lg-5 col-md-12 col-12 text">
                <h1>
                    <span>{{.item1.title1}}</span>
                    <span>{{.item1.title2}}</span>
                </h1>
                <div class="description">{{.item1.description}}</div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-12 text-center">
                <img data-src="{{.item2.image}}" alt="item2">
            </div>
            <div class="col-lg-5 col-md-12 col-12 text">
                <h1 class="text-left ml-auto">
                    <span>{{.item2.title1}}</span>
                    <span>{{.item2.title2}}</span>
                </h1>
                <div class="description text-left ml-auto">{{.item2.description}}</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-12 col-12 text-center">
                <img data-src="{{.item3.image}}" alt="item3">
            </div>
            <div class="col-lg-5 col-md-12 col-12 text">
                <h1>
                    <span>{{.item3.title1}}</span>
                    <span>{{.item3.title2}}</span>
                </h1>
                <div class="description">{{.item3.description}}</div>
            </div>
        </div>
    </div>
</section>
