<section class="partners">
    <div class="container-fluid pr-0 pl-0 desktop">
        <h1 >{{.title}}</h1>
        <br/>
        <img data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/for_institutions/0917_OurPartnerInclude_web.png" alt="0917_OurPartnerInclude_web">
        <p>{{.text}}</p>
    </div>
    <div class="mobile">
        <h1 >{{.title}}</h1>
        <img data-src="https://ponddyreader-master.s3-us-west-1.amazonaws.com/landing/statics/media/for_institutions/0917_OurPartnerInclude_phone.png" alt="0917_OurPartnerInclude_phone">
        <p >{{.text}}</p>
    </div>
</section>
